// flex 相关
@mixin flex {
  display: flex;
}

@mixin flex-main {
  flex: 1;
}

@mixin flex-center {
  @include align-center;
  @include justify-center;
}

@mixin flex-row {
  @include flex;
  flex-direction: row;
}

@mixin flex-column {
  @include flex;
  flex-direction: column;
}

@mixin row-center {
  @include flex-row;
  @include align-center;
}

@mixin column-center {
  @include flex-column;
  @include align-center;
}

@mixin flex-wrap {
  flex-wrap: wrap;
}

@mixin justify-start {
  justify-content: flex-start;
}

@mixin justify-end {
  justify-content: flex-end;
}

@mixin justify-center {
  justify-content: center;
}

@mixin justify-between {
  justify-content: space-between;
}

@mixin justify-around {
  justify-content: space-around;
}

@mixin align-start {
  align-items: flex-start;
}

@mixin align-end {
  align-items: flex-end;
}

@mixin align-center {
  align-items: center;
}

@mixin align-stretch {
  align-items: stretch;
}

@mixin self-start {
  align-self: flex-start;
}

@mixin self-end {
  align-self: flex-end;
}

@mixin self-center {
  align-self: center;
}

@mixin self-stretch {
  align-self: stretch;
}

@mixin text-center {
  text-align: center;
}

@mixin underline {
  text-decoration: underline;
}

@mixin absolute-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
